.App {
  background-color: #282c34;
  color: white;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 5%;
}

.Main-container {
  display: flex;
  flex-wrap: wrap;
}

.Type-container {
  /* you have to subtract the margin percentage to get the actual width of the entire component
    ex. if you want 50% you subtract minus 10 (margin left + margin right percentage) 
  */
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.Type-name {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 1.5rem;
  height: 25%;
  width: 33%;
  margin-bottom: 5%;
}

#Normal {
  background: #a8a878;
  border: 1px solid #6d6d4e;
}

#Fighting {
  background: #c03028;
  border: 1px solid #7d1f1a;
}
#Flying {
  background: #a890f0;
  border: 1px solid #6d5e9c;
}
#Poison {
  background: #a040a0;
  border: 1px solid #682a68;
}
#Ground {
  background: #e0c068;
  border: 1px solid #927d44;
}
#Rock {
  background: #b8a038;
  border: 1px solid #786824;
}
#Bug {
  background: #a8b820;
  border: 1px solid #6d7815;
}
#Ghost {
  background: #705898;
  border: 1px solid #493963;
}
#Steel {
  background: #b8b8d0;
  border: 1px solid #787887;
}
#Fire {
  background: #f08030;
  border: 1px solid #9c531f;
}
#Water {
  background: #6890f0;
  border: 1px solid #445e9c;
}
#Grass {
  background: #78c850;
  border: 1px solid #4e8234;
}
#Electric {
  background: #f8d030;
  border: 1px solid #a1871f;
}
#Psychic {
  background: #f85888;
  border: 1px px solid #a13959;
}
#Ice {
  background: #98d8d8;
  border: 1px solid #638d8d;
}
#Dragon {
  background: #7038f8;
  border: 1px solid #4924a1;
}
#Dark {
  background: #705848;
  border: 1px solid #49392f;
}
#Fairy {
  background: #ee99ac;
  border: 1px solid #9b6470;
}
